* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #333333;
}

.right {
    text-align: end;
}

/* --------------------- */
header {
    width: 100%;
}

/*#banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    background-color: darkred;
}

#banner-logo {
    display: inline;
    margin: 0.7em 0;
    text-align: center;

    color: white;
    font-size: 3em;
    font-weight: bold;
    box-shadow: black;
}*/

.responive-img {
    width: 100%;
    max-width: 100%;
}

/* --------------------- */


/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 10;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

/* Navbar links */
#navbar a {
    color: #222222;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    font-weight: bold;
    padding-bottom: 5px;
}

/* Page content */
/*#content {
    padding: 16px;
}*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #content {
    padding-top: 60px;
}

/* ================================== */


.ticker {
    z-index: 1;
    max-width: 900px;

    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    font-weight: bold;
    box-shadow:  inset 0 2px 5px 0;
    border-radius: 0 0 8px 8px;
    background-color: #EEA200;
}

.ticker ul {
    list-style: none;
    width: 100%;
}

.ticker ul li {

}

#content {
    max-width: 900px;
    margin: 10px auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 700px){
    #content {
        display: block;
        margin: 10px auto;
    }
}

#content > figure {
    width: 66.6%;
}

@media screen and (max-width: 700px) {
    #content > figure {
        width: 100%;
    }

}

#content > figure > img {
    width: 100%;
    padding: 5px;
}

/* --------------------- */

#content > aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 33.3%;
    padding: 5px;
}

@media screen and (max-width: 700px) {
    #content > aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
    }

}

.infobox {
    background-color: darkred;

    /* background: #d14b29; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ae2416 0%, #aa0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ae2416 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ae2416 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14b29', endColorstr='#aa0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: whitesmoke;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px;
    margin: 3px;
    text-align: center;
}



.infobox h3 {
    margin-bottom: 5px;
}

/* ================================= */

.display {
    width: 100%;
    background-color: darkred;
    color: whitesmoke;
    padding: 5px;
    margin: 20px 0 20px 0;
    min-height: 200px;

    /* background: #d14b29; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ae2416 0%, #aa0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ae2416 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ae2416 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14b29', endColorstr='#aa0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.display h2 {
    text-align: center;
}

.slick-slide {
    background-color: #dddddd;
    color: #222222;
    padding: 5px;
    margin: 5px;
    max-width: 350px;

    -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.75);

}

.slick-slide p {
    margin-top: 5px;
    float: left;
}

.event {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.event h3 {
    background-color: #e9b22e;
    color: #222222;
    padding: 5px;
}
.event p {
    padding-left: 5px;
    padding-right: 5px;
}

/* ================================= */

footer {
    width: 100%;
    min-height: 100px;
    background-color: #666;
    border-top: solid darkred 5px;
}

footer > div {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: lightgrey;
    margin: 0 auto;
}

.footer-inhalt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer a {
    color: lightgrey;

}


.btn {
    position: relative;


    display: inline;
    float: right;
    margin: 5px 5px 5px auto;
    padding: 0;


    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: dimgrey;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: grey;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}


/* - ------------------------------------- */
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #EEA200;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}